<div class="browser-navigation panel-heading">
    {{url-bar class="navbar-form" role="navigation"}}
    <div class="browser-toolbar">
        {{yield (hash section="toolbar")}}
    </div>
</div>
<div class="browser-banner{{unless webSocket.showBanner ' hide'}}">
    {{#if webSocket.connecting}}
        正在重连 ...
    {{else if webSocket.closed}}
        {{#if webSocket.secondsUntilReconnect }}
            尝试重新连接到蜘蛛网服务器 {{webSocket.secondsUntilReconnect}}.
        {{else if websocket.reconnectMessage}}
            {{websocket.reconnectMessage}}
        {{/if}}
        {{#unless webSocket.reconnectImminent}}
            <a class="alert-link" {{action 'reconnectWebsocket'}}>重试</a>.
        {{/unless}}
    {{else if webSocket.reconnectComponent}}
        {{component webSocket.reconnectComponent}}
    {{/if}}
</div>
<div class="frame-container panel-body">
    <div class="overlay-container">
        {{yield (hash section="overlays")}}
    </div>
    {{browser-iframe clickHandler=(action 'viewPortClick')}}
</div>

<div class="browser-start-page {{if browser.url 'hide'}}">
    <img src="/assets/images/portia-logo.svg" alt="Portia logo">
    <h3>新建一个蜘蛛</h3>
    {{url-bar class="navbar-form" role="navigation" autofocus=true}}
    {{#if uiState.models.project.spiders.length}}
        <p>
            你也可以从侧边栏中选择你现有的一个蜘蛛
        </p>
    {{/if}}
</div>
