{{#tree-list hide=currentSchema}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
              蜘蛛{{#animation-container class="inline" hide=currentSpider setHeight=false}}{{/animation-container}}&nbsp;{{pagination}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        蜘蛛
                        <p>
                            蜘蛛爬行网页来抽取数据.
                        </p>
                        <p>
                            最常见的是为你想要爬的每个网站创建一个蜘蛛，但是一只蜘蛛也可以爬不止一个网站.
                        </p>
                        <p>
                            要创建一个爬行器，首先访问一个您想要从它开始爬行的web页面.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
                {{spider-message currentSpider=currentSpider}}
            {{/list-item-text}}
            {{#if currentSpider}}
                {{#animation-container}}
                    {{#link-to 'projects.project' project class='inline project-change'}}
                        显示所有蜘蛛
                    {{/link-to}}
                {{/animation-container}}
            {{else}}
                {{#tooltip-container tooltipFor="add-spider-button" text=addSpiderTooltipText tooltipContainer='body'}}
                    {{list-item-icon id="add-spider-button" icon='add' disabled=(not canAddSpider) action=(action 'addSpider')}}
                {{/tooltip-container}}
            {{/if}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    这个项目未启动蜘蛛
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#tree-list-item hide=(or project.spiders.isPending project.spiders.length) class="help" as |options|}}
                <div class="alert alert-info" role="alert">
                    <p>要创建一个爬行器，首先访问一个您想要从它开始爬行的web页面
                    </p>
                </div>
            {{/tree-list-item}}

            {{#if (and noCurrentSpider isLarge)}}
                {{#tree-list-item}}
                    <input
                     class='form-control'
                     placeholder='Search for your spider'
                     value={{spiderSearch}}
                     oninput={{perform filterSpiders
                              sortedSpiders
                              value='target.value'}}
                    />
                {{/tree-list-item}}
            {{/if}}

            {{#if (and noCurrentSpider hasPreviousPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage -1}}
                     class='fa fa-angle-up twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

            <div class={{if isFiltering 'very-opaque'}}>
            {{#each spiders as |spider|}}
                {{spider-row spider=spider project=project}}
            {{/each}}
            </div>

            {{#if (and noCurrentSpider hasNextPage)}}
                {{#tree-list-item isCentered=true}}
                    <i
                     onclick={{perform turnPage 1}}
                     class='fa fa-angle-down twice-x clickable'>
                    </i>
                {{/tree-list-item}}
            {{/if}}

        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}

{{#tree-list hide=currentSpider}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
                数据格式{{#animation-container class="inline" hide=currentSchema setHeight=false}}{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        数据格式
                        <p>
                            数据格式描述您想要抽取的数据.
                        </p>
                        <p>
                            蜘蛛可以共享一个数据格式，从不同的web页面中抽取相同的逻辑数据类型.
                        </p>
                        <p>
                            您可以提前创建数据格式，但是您也可以在稍后创建它们，同时在web页面上标注数据.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
            {{#if currentSchema}}
                {{#animation-container}}
                    {{#link-to 'projects.project' project class='inline project-change'}}
                        显示所有模式
                    {{/link-to}}
                {{/animation-container}}
            {{else}}
                {{#tooltip-container tooltipFor="add-schema-button" text="创建一个新模式" tooltipContainer='body'}}
                    {{list-item-icon id="add-schema-button" icon='add' action=(action 'addSchema')}}
                {{/tooltip-container}}
            {{/if}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or project.schemas.isPending project.schemas.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    这个项目没有数据格式
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#each project.schemas as |schema|}}
                {{#tree-list-item hide=(and currentSchema (not-eq schema currentSchema)) as |options|}}
                    {{#link-to 'projects.project.schema' schema}}
                        {{#if schema.default}}
                            {{#help-icon icon='default-add' placement='right' classes='help-icon indentation-spacer'}}
                                默认情况下，此数据格式将用于新样本
                            {{/help-icon}}
                        {{else}}
                            {{indentation-spacer}}
                        {{/if}}
                        {{list-item-icon icon='schema'}}
                        {{list-item-editable value=(mut schema.name) editing=(mut schema.new) onChange=(action 'saveSchema' schema)}}
                    {{/link-to}}
                    {{#animation-container class="icon" setWidth=false setHeight=false}}
                        {{#list-item-icon-menu icon='vertical-ellipsis' as |options|}}
                            {{#if schema.default}}
                                <li {{action 'removeSchemaDefault' schema}}><a>
                                {{list-item-icon class="icon" icon="default-remove"}}删除默认值
                                </a></li>
                            {{else}}
                                <li {{action 'setSchemaDefault' schema}}><a>
                                {{list-item-icon class="icon" icon="default-add"}}设成默认
                                </a></li>
                            {{/if}}
                            {{dropdown-delete
                              onDelete=(action 'removeSchema' schema)
                              text='删除模式'
                              disabled=(gt schema.items.length 0)
                            }}
                        {{/list-item-icon-menu}}
                    {{/animation-container}}
                {{/tree-list-item}}
            {{/each}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}
