{{#tooltip-container tooltipFor=(concat "label-" elementId) tooltipContainer='body' as |tooltip|}}
    {{#if (eq tooltip.section 'tooltip')}}
        <p class="first">蜘蛛网会自动保存你的修改</p>
    {{else}}
        <span id="label-{{elementId}}" class="label label-{{labelColorClass}}">
            {{#if isSaving}}
                保存 <span>.</span><span>.</span><span>.</span>
            {{else if timeSinceLastSave}}
                {{timeSinceLastSave}}保存
            {{else}}
                自动保存变更
            {{/if}}
        </span>
    {{/if}}
{{/tooltip-container}}
