{{#tree-list hide=currentSample}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
                起始页面
                {{#help-icon}}
                    起始页面
                    <p>
                        起始页面是蜘蛛从网页开始爬行的网页。它,然后根据定义的链接爬行规则，继续访问其他网页
                    </p>
                    <p>
                        起始页面还限制了爬行器爬行的域,一个蜘蛛永远不会跟随一个链接进入一个不包含在起始页面的域
                    </p>
                    <p>
                        没有起始页，蜘蛛就无法爬行
                    </p>
                {{/help-icon}}
            {{/list-item-text}}
            {{#tooltip-container tooltipFor="add-start-url-button" text="Start crawling from the current page" tooltipContainer='body'}}
                {{#list-item-icon-menu icon='add-dropdown' as |options|}}
                    {{#options.item value="添加确定的URL"
                      action=(chain-actions (action closeOptions) (action 'addStartUrl') options.closeMenu) as |value|}}
                        {{list-item-icon class="icon" icon="url"}}{{value}}
                    {{/options.item}}
                    {{#options.item value="添加分段URL" action=(chain-actions (action 'addGenerationUrl') options.closeMenu) as |value|}}
                        {{list-item-icon class="icon" icon="url-generated"}}{{value}}
                    {{/options.item}}
                    {{#options.item value="添加提要URL"
                      action=(chain-actions (action closeOptions) (action 'addFeedUrl') options.closeMenu) as |value|}}
                        {{list-item-icon class="icon" icon="url-feed"}}{{value}}
                    {{/options.item}}
                {{/list-item-icon-menu}}
            {{/tooltip-container}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=spider.startUrls.length as |options|}}
                {{#list-item-text class="text-center"}}
                    当前蜘蛛没有起始页
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#tree-list-item hide=spider.startUrls.length class="help" as |options|}}
                <div class="alert alert-warning" role="alert">
                    <p>
                        蜘蛛至少需要一个起始页面才能开始爬行
                    </p>
                </div>
            {{/tree-list-item}}
            {{#each spider.startUrls key="@index" as |startUrl index|}}
                {{#if (or (not newUrl) (not-eq urlValue startUrl.url))}}
                    {{component startUrl.componentName
                          index=index
                          spider=spider
                          startUrl=startUrl
                          removeStartUrl=(action 'removeStartUrl' startUrl)
                    }}
                {{/if}}
            {{/each}}
            {{#if newUrl}}
                {{project-structure-spider-url
                  spider=spider
                  startUrl=newStartUrl
                  url=urlValue
                  urlAdded=(mut newUrl)
                  removeStartUrl=(action 'removeStartUrl' newUrl)
                }}
            {{/if}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}

{{#tree-list hide=currentSample}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
                抽取链接
            {{/list-item-text}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item as |options|}}
                {{indentation-spacer}}
                {{list-item-icon icon='link'}}
                {{list-item-link-crawling spider=spider}}
                {{#if (not-eq spider.linksToFollow 'none')}}
                    {{#link-to 'projects.project.spider' bubbles=false}}
                        {{#link-to 'projects.project.spider.link-options' bubbles=false class="ignore-active"}}
                            {{list-item-icon icon='options'}}
                        {{/link-to}}
                    {{/link-to}}
                {{/if}}
            {{/tree-list-item}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}

{{#tree-list}}
    {{#tree-list-item hasChildren=true as |options|}}
        {{#if (eq options.section "item")}}
            {{#list-item-text class="title"}}
                样本页{{#animation-container class="inline" hide=currentSample setHeight=false}}{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        样本
                        <p>
                            一个样本是一个web页面，其中包含要抽取的数据
                        </p>
                        <p>
                            当蜘蛛爬行到一个新的web页面时，它会找到最佳匹配的样本，并使用它来抽取数据
                        </p>
                        <p>
                            如果您看到一个web页面，蜘蛛很难从该web页面抽取数据，您可以从该web页面创建一个新的样本来改进抽取
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/list-item-text}}
            {{#if currentSample}}
                {{#animation-container}}
                    {{#link-to 'projects.project.spider' spider}}
                        显示所有样本
                    {{/link-to}}
                {{/animation-container}}
            {{else}}
                {{#tooltip-container tooltipFor="add-sample-button" text="从当前页面创建一个新的样本" tooltipContainer='body'}}
                    {{list-item-icon id="add-sample-button" icon='add' disabled=(not canAddSample) action=(action 'addSample')}}
                {{/tooltip-container}}
            {{/if}}
        {{else if (eq options.section "subtrees")}}
            {{#tree-list-item hide=(or spider.samples.isPending spider.samples.length) as |options|}}
                {{#list-item-text class="text-center"}}
                    当前蜘蛛没有样本页
                {{/list-item-text}}
            {{/tree-list-item}}
            {{#tree-list-item hide=(or spider.samples.isPending spider.samples.length) class="help" as |options|}}
                <div class="alert alert-info" role="alert">
                    <p>
                        导航到有您需要的数据的web页面，并创建一个新的样本来开始标注数据
                    </p>
                </div>
            {{/tree-list-item}}
            {{#each spider.samples as |sample|}}
                {{#tree-list-item hide=(and currentSample (not-eq sample currentSample)) as |options|}}
                    {{#link-to 'projects.project.spider.sample' sample (query-params url=sample.url baseurl=null) current-when='projects.project.spider.sample'}}
                        {{indentation-spacer}}
                        {{list-item-icon icon='sample'}}
                        {{list-item-editable value=(mut sample.name) editing=(mut sample.new) onChange=(action 'saveSample' sample)}}
                    {{/link-to}}

                    {{#list-item-icon-menu icon='vertical-ellipsis' as |options|}}
                        {{dropdown-delete
                          onDelete=(action 'removeSample' sample)
                          text='删除样本'
                        }}
                    {{/list-item-icon-menu}}

                {{/tree-list-item}}
            {{/each}}
        {{/if}}
    {{/tree-list-item}}
{{/tree-list}}
